<article class="hentry" role="article">
  <header>
    <h1 class="entry-title">{{ post.title }}</h1>
    {% if post.image %}
      <img class="feature-image" src="{{ post.image }}" alt="{{ post.title }}">
    {% endif %}
    <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate><a href="{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time>
  </header>
  <div class="entry-content">
    {{ content }}
  </div>
  <footer class="meta">
    <p><i class="fa fa-tags"></i> {{ post.tags | tag_links }}</p>
  </footer>
</article>
