<div class="vcard">
  <p>  <img src="//www.gravatar.com/avatar/b29b5419f81fa03145cafc684bb20c76.png?s=75" class="inline-block" alt="James Walker" >
    <a href="/about" class="fn n">James Walker</a> (a.k.a. <a href="https://walkah.net/" rel="me" class="url nickname uid">walkah</a>) is an independent developer and hacker. He is a long time <a href="http://drupal.org/user/1531" rel="me">Drupal</a> developer, but these days spends more time in Python, Ruby and Javascript.</p>
  <p>You can follow him on <a href="https://twitter.com/walkah" rel="me">twitter</a> or <a href="https://github.com/walkah">github</a>.</p>
</div>
