@import "bourbon";

@font-face {
    font-family: Typewriter;
    src: url(Typewriter.otf) format("opentype");
}

$serif: 'PT Serif', 'Georgia', serif;
$typewriter: Typewriter,"Georgia","Times",serif;

$base-font-color: #343434;

$base-border-radius: 3px;


// Layout
$max-width: em(624) !default;
$grid-columns: 8;
$column: 4em;
$gutter: 1em;

//$visual-grid: true;

@import "neat";

$mobile: new-breakpoint(max-width 500px 4);
