@import "susy";

@font-face {
    font-family: Typewriter;
    src: url(Typewriter.otf) format("opentype");
}

$serif: 'PT Serif', 'Georgia', serif;
$typewriter: Typewriter,"Georgia","Times",serif;

$total-columns  : 4;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$container-style: magic;

$show-grid-backgrounds  : true;

$break: 8;