<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>  
  
  <link rel="shortcut icon" href="/favicon.ico" >
  <link href="/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">

  <meta name="microid" content="mailto+http:sha1:d1026e95deb9e779de34648de0c7e2c83e1d2a73" />
  <link rel="openid2.local_id" href="http://walkah.myopenid.com" />
  <link rel="openid2.provider" href="http://www.myopenid.com/server" />
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://walkah.myopenid.com/" />
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=walkah.myopenid.com" />
</head>
<body>
  <div class="container">
    <div id="header">
      <header>
        <h1 id="title"><a href="/">{{ site.title }}</a></h1>
      </header>
      <nav role="navigation">
        <ul class="navigation">
          <li><a href="/about.html">About</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <section id="main">
      {{ content }}    
    </section>
    <footer>
      &copy; 2002-{{ site.time | date:"%Y" }} {{ site.author }}
    </footer>
  </div>
  {% include google_analytics.html %}
</body>
</html>
